<div class="container-fluid" style="padding:0px">
<div class="subnav col-lg-12">
  <div class="iconsNavMain">
    <div class="navIcon"><a href="#cassie"><!--<button md-fab color="primary"></button>--> <img class="imgpic" src="assets/img/skeletonIcon.png"></a>
    <p class="iconText" style="font-family: futura; font-size: 18px;">Cassie</p>
    </div>
  <div class="navIcon"><a href="#oz"> <!--<button md-fab color="primary"></button>--> <img class="imgpic" src="assets/img/skeletonIconMan.png"></a>
    <p class="iconText" style="font-family: futura; font-size: 18px;" >Oz</p>
  </div>
  <div class="navIcon"><a href="#portfolios"> <!--<button md-fab color="primary"></button>--><img class="imgpic" src="assets/img/portfolioIconBookSm.png"></a>
    <p class="iconText" style="font-family: futura; font-size: 18px;">Portfolios</p>
  </div>
  <div class="navIcon"><a href="#theshop"> <!--<button md-fab color="primary"></button>--> <img class="imgpic" src="assets/img/storeIcon.png"></a>
    <p class="iconText" style="font-family: futura; font-size: 18px;">The Shop</p>
  </div>
    <div class="navIcon"><a href="#about"> <!--<button md-fab color="primary"></button>--> <img class="imgpic" src="assets/img/aboutUs.png"></a>
      <p class="iconText" style="font-family: futura; font-size: 18px;">About</p>
    </div>
    <div class="iconText" class="navIcon"><a href="faq"> <img class="imgpic" src="assets/img/faq.png"> <!--<button md-fab color="primary"></button>--></a>
      <p style="font-family: futura; font-size: 18px;">FAQ</p>
    </div>
  </div>
</div>
</div>
