<div id="portfolios" class="container-fluid fournav" style="padding:0px">
  <div class="col-lg-12">
<div class="mainWelcomePort" style="font-family: 'futura'">
  PORTFOLIOS
</div>
    <br>
    <br>
    <!--<div class="artistsNav">-->
      <!--<div class="iconsNav"><img src="assets/img/cassiePortfolio.png">-->
        <!--<div>-->
          <!--<span style="font-family: 'Abril Fatface'; font-size: 30px">Cassie</span>-->
          <!--<br>-->
          <!--<span style="font-family: 'futura'; font-size: 20px;">check out some of Cassie's work. </span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="artistsNav">-->
     <!--<div class="iconsNav"><img src="assets/img/ozPortfolio.png"></div>-->
      <!--<div>-->
        <!--<span style="font-family: 'Abril Fatface'; font-size: 30px">Oz</span>-->
        <!--<br>-->
        <!--<span style="font-family: 'futura'; font-size: 20px;">check out some of Oz's work. </span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


    <div class="subnavPort">
      <div class="iconsNav">
        <span style="font-family: james; font-size: 100px; position: relative; left: 235px; bottom: 60px;">Cassie</span>
        <div class="navIcon1"><a href="#"> <img src="assets/img/portfolioIconBook.png"></a></div>
        <!--<div style="font-family: james; font-size: 100px; position: relative; left: 0px; top: 0px;">Oz-->
          <!---->
        <!--</div>-->
        <span style="font-family: james; font-size: 100px; position: relative; left: 205px; bottom: 60px;">Oz</span>
        <div class="navIcon2"><a href="#"> <img src="assets/img/portfolioIconBook2.png"></a></div>

      </div>
    </div>
    </div>
  </div>

