<!--<div id="container">-->
  <!--<div ng2-carouselamos class="slides-wrapper"-->
       <!--[items]="items"-->
       <!--[width]="5000"-->
       <!--[$prev]="prev"-->
       <!--[$next]="next"-->
       <!--[$item]="item">-->
  <!--</div>-->

  <!--<ng-template #prev>-->
    <!--<img src='assets/img/leftArrow.png' id="left">-->
  <!--</ng-template>-->

  <!--<ng-template #next>-->
    <!--<img src='assets/img/rightArrow.png' id="right">-->
  <!--</ng-template>-->

  <!--<ng-template #item let-item let-i="index">-->

    <!--<div class="items" style="text-align: center">-->
      <!--<h2>This is my {{ item.name }} slide</h2>-->
    <!--</div>-->

  <!--</ng-template>-->
<!--</div>-->


<div class="container-fluid" style="padding:0px">
  <div class="thirdnav col-lg-12">
    <div>
    <div class="mainWelcome" style="font-family: futura">
      welcome to studio 42
      <br>
      please enjoy the site    </div>
  </div>
    <div class="studio42Image"><img src="assets/img/studio42Display.png" style="max-width: 100%"></div>
  </div>
</div>
