<div id="theshop" class="container-fluid theShopNav" style="padding:0px">
  <div class="col-lg-12">
    <div class="mainWelcomePort" style="font-family: 'futura'">
      The Studio
    </div>
    <!--<div>-->
      <!--<img style="display: block; margin: 0 auto;" src="assets/img/storeIconLg.png">-->
    <!--</div>-->



    <div>
      <img style="display: block; margin: 0px auto; margin-top: 80px; padding-left: 30px; float: right" src="assets/img/shop.png">
    </div>
    <div class="artistText">
      Currently located at
      1512 7th Ave
      Beaver Falls, PA 15010
      Directly across the street from Rite Aid.
      What are your hours?
      Tuesday through Thursday we are open from 1 pm until 9ish
      Friday and Saturday we are open from 2 pm until 11ish.
      The “ish” is because we try not to start projects during the last hour of the shop being open. Usually we close the service area, but are available for consultations and sales an hour before closing.
      Sunday and Monday we are closed.
    </div>
  </div>
</div>
<!--<p-galleria [images]="images" panelWidth="500" panelHeight="313"></p-galleria>-->
